*.png
*.xlsx
*.csv
*/.DS_Store
*/*/*.csv
*/*/.DS_Store
*/*/*.csv
*/*/*/*.DS_Store
*/*/*/*.csv
*/*/*/*.DS_Store
*/*/*/*/*.csv
*/*/*/*/*.DS_Store
*.out
exp1_record
exp2_record
frequency
model_scale_explore
number_frames_explore
pretrained_explore
test_all
ucf_training
architecture_explore
all_test_results
aug_exp
curve
radar_chart
